name: GitHub Pacakges

on:
  workflow_dispatch:
    inputs:
      push-image:
        description: "push-image: true - build and push image. false - build only."
        required: true
        default: false
        type: boolean
  schedule:
    - cron: 0 0 * * 0 # At 00:00 on Sunday.
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

env:
  DOCKER_PUSH_ENABLED: "${{ inputs.push-image && true || (github.event_name == 'push' || github.event_name == 'schedule') }}"
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    strategy:
      fail-fast: false
      matrix:
        include:
          - context: ./github_packages/csharp/
            dockerfile: ./github_packages/csharp/helloworld/Dockerfile
            tag: csharp-helloworld
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/git-shortsha@main
        id: sha
      - uses: guitarrapc/actions/.github/actions/to-lower@main
        id: lower
        with:
          value: ${{ matrix.tag }}

      # docker push (auto using buildkit)
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image (latest)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}-latest-${{ matrix.tag }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push Docker image (tag)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}-${{ steps.sha.outputs.sha-short }}-${{ matrix.tag }}
          labels: ${{ steps.meta.outputs.labels }}
